.home{
    width: 100%;
}
.card1{
    width: 100%;
}
.card1>img{
    width: 100%;
}
.card2{
    width: 100%;
    // height: 40vh;
    margin-top: -2%;
    // border: 1px solid red;
}
.card2-title1{
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6em;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
}
.card2-title2{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    font-family: 'Manrope', sans-serif;
    color: gray;
}
.card2-title3{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.card2-title3>button{
    width: 120px;
    height: 6vh;
    background-color: #e3524a;
    border: 1px solid #e3524a;
    color: white;
    font-size: small;
    border-radius: 5px;
}
.card3{
    width: 100%;
    height: 10vh;
    margin-top: 5%;
    margin-bottom: 5%;
    // border: 1px solid red;
}
.card3>img{
    width: 100px;
    height: 8vh;
    margin-left: 3%;
}

.card4{
    width: 50%;
    height: 25vh;
    margin: auto;
    display: flex;
    margin-bottom: 5%;
    // background-color: #000000;
    // border: 1px solid teal;
}
.card4>div:nth-child(1){
    height: 25vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    // font-weight: bold;
    font-family: 'Manrope', sans-serif;
    // border: 1px solid red;
}
.card4>div:nth-child(2){
    height: 25vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: small;
    line-height: 25px;
    font-family: 'Manrope', sans-serif;
    // border: 1px solid red;
}

.card5{
    width: 57%;
    height: 30.5vh;
    margin: auto;
    display: flex;
    margin-bottom: 5%;
    background-color: #151719;
    border-radius: 20px;
    border: 1px solid teal;
}
.card5>div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    // border: 1px solid red;
}
.card5>div:nth-child(1)>div{
    width: 80%;
    margin: auto;
    color: white;
}
.card5>div:nth-child(2){
    width: 50%;
    // border: 1px solid red;
}
.card5>div:nth-child(2)>img{
    border-radius: 20px;
    // border: 1px solid red;
}

.card6{
    width: 57%;
    margin: auto;
    height: 40vh;
    display: flex;
    margin-bottom: 5%;
    font-family: 'Manrope';
    // border: 1px solid red;
}

.card7{
    width: 57%;
    margin: auto;
    height: 40vh;
    margin-bottom: 5%;
    display: flex;
    font-family: 'Manrope';
    // border: 1px solid red;
}

.card7>div:nth-child(1){
    width: 50%;
    height: 40vh;
    font-family: 'Manrope';
    // border: 1px solid red;
}

.card7>div:nth-child(1)>div:nth-child(1){
    font-size: 45px;
    font-family: 'Manrope';
    padding: 3%;
    font-weight: bold;
}

.card7>div:nth-child(1)>div:nth-child(2){
    font-size: small;
    color: gray;
    padding: 3%;
    font-family: 'Manrope';
    
}

.card7>div:nth-child(2){
    width: 50%;
    height: 40vh;
    font-family: 'Manrope';
    // border: 1px solid red;
    overflow-y: scroll;
}
.card7>div:nth-child(2)::-webkit-scrollbar {
    display: none;
}


.highlight{
    width: 100%;
    height: 100%;
    // border: 1px solid teal;
}
.highlight > div:nth-child(1){
    font-size: 60px;
    padding: 4%;
}
.highlight > div:nth-child(2){
    font-size: 20px;
    padding: 4%;
}
.highlight > div:nth-child(3){
    font-size: small;
    padding-left: 4%;
}
.highlight > div:nth-child(4){
    font-size: small;
    padding-top: 2%;
    padding-left: 4%;
    color: #2872E0;
    font-weight: bold;
    cursor: pointer;
}

.card8{
    width: 100%;
    height: 50vh;
    border: 1px solid teal;
    margin-bottom: 10%;
}

.card9{
    width: 100%;
    height: 50vh;
    background: #042437;
    background: -webkit-linear-gradient(to bottom right, #042437 0%, #042437 34%, #042437 62%, #800B0B 100%);
    background: -moz-linear-gradient(to bottom right, #042437 0%, #042437 34%, #042437 62%, #800B0B 100%);
    background: linear-gradient(to bottom right, #042437 0%, #042437 34%, #042437 62%, #800B0B 100%);
    
}

.card9 > div{
    width: 60%;
    margin: auto;
    height: 50vh;
    display: flex;
    // border: 1px solid red;
}

.card9 > div > div:nth-child(1){
    width: 50%;
    height: 50vh;
    // border: 1px solid teal;
}
.card9 > div > div:nth-child(1) > div:nth-child(1){
    width: 100%;
    color: white;
    font-size: 50px;
    padding:10%;
    font-weight: bolder;
}
.card9 > div > div:nth-child(1) > div:nth-child(2){
    width: 100%;
    color: white;
    margin-left: 10%;
}
.join{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #2872E0;
    background-color: #2872E0;
    color: white;
}
.card9 > div > div:nth-child(2){
    width: 50%;
    height: 50vh;
    // border: 1px solid teal;
}
.pro1{
    margin-top: -75%;
    margin-left: 15%;
}

.whitecomma{
    padding-left: 25%;
    margin-top: -7%;
}

.interact{
    color: white;
    font-size: 10px;
    padding-left: 25%;
    padding-top: 3%;
    padding-right: 15%;
}
.pro1-div{
    width: 60%;
    height: 60px;
    // border: 1px solid red;
    margin-top: 5%;
    margin-left: 25%;
    display: flex;
}
.pro1-div > div:nth-child(1){
    width: 40%;
    height: 100%;
    font-size: small;
    color: white;
}
.pro1-div > div:nth-child(2){
    width: 60%;
    height: 100%;
}
.pro1-div > div:nth-child(2) > img{
    width: 50%;
    margin-left: 40%;
}

.card10{
    width: 57%;
    margin: auto;
    height: 45vh;
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    // border: 1px solid red;
}

.card10 > div{
    // border: 1px solid teal;
    cursor: pointer;
}

.blogpic > img{
    width: 100%;
}
.blogdatediv{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: gray;
    padding: 2%;
}
.blogcont{
    font-size: 15px;
    font-weight: bold;
    padding: 2%;
}